<h1><% @msg %></h1>

<div class="top_row">
  <div id="time_widget">
    <h2><%= @data %></h2>
  </div>
  <div id="weather_icon">
    <h2>Weather</h2>
    <hr style="width: 50%"/>
    <img src="assets/cloud.png" alt=""/>
  </div>
</div>
<%#= render 'time_widget', data: @time %>
