/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$font-stack:  "Avenir Next","Apple SD Gothic Neo",Helvetica, sans-serif;
$primary-color: white;
$bg-color: #000;

html body{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
  font-weight: lighter;
}

hr {
  margin-top: -20px;
}

#time_widget{
  //border: 1px solid white;
  float: left;
}

#time_widget *{
  margin-left: 70px;
  font-weight: normal;
}

#time_widget h1{
  margin-top: 10px;
  font-size: 500%;
  //border: 1px solid white;
  margin-bottom: -20px;
  letter-spacing: 4px;
}
#time_widget h2{
  margin-top: 10px;
  padding-left: 10px;
  font-size: 140%;
  letter-spacing: 2px;
  font-weight: lighter;
  //border: 1px solid white;
}

#time_widget h2 span{
  font-weight: normal;
  margin-left: 0px;
}

span{
  font-weight: normal;
}


#weather {
  //border: 1px solid white;
  float:right;
  padding-right: 50px;
}

#weather * {
  //text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#weather img{
  height: 150px;
}

#weather_list img {
  height: 50px;
}
#weather_list table{
  padding-right: 30px;
  float:right;
}
#current {
  padding:0px;
  margin: 0px;
}

#current th{
  padding: 0px;
  font-size: 50px;
  font-weight: normal;
}

#current td{
  font-size: 100%;
  font-weight: normal;
}

#depatures {
  //border: 1px solid white;
  padding-left: 70px;
  position:fixed;
  top:75%;
  float: left;
}

#lineNumber{
  padding: 4px;
  padding-bottom: 0px;
  //border: 1px solid grey;
  font-weight: normal;
  font-size: 120%;
}

.buses #lineNumber{
  border-left: 3px solid blue;
}

.metros #lineNumber {
  border-left: 3px solid green;
}

#depatures h2 {
  letter-spacing: 2px;
  //border-bottom: 1px solid grey;
  font-weight: normal;
  margin-bottom: 0px;
}

.buses{
  float:left;
}
.metros{
  float:left;
  padding-left: 20px;
}

table, tr, th,td {
 //border: 1px solid grey;
}
